<div class="jumbotron">
<div class="columns is-centered">
  <div class="column is-4">
    <div class="card sign-up-form general-form">
      <div class="card-header">
        <div class="card-header-title">Login</div>
      </div>
      <%= form_tag login_path do %>
        <div class="field general-field">
          <%= text_field_tag :email, params[:email], class: "input", placeholder: "Email" %>
        </div>
        <div class = "field general-field">
          <%= password_field_tag :password, nil, class: "input", placeholder: "Password" %>
        </div>
        <div class="general-submit">
          <%= submit_tag "Login", class: "button is-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
