<h1>Friends#new</h1>
<p>Find me in app/views/friends/new.html.erb</p>
<%= form_for Friend.new do |f| %>
  <%= f.text_field :name, placeholder: "Friend's name" %>
  <%= f.number_field :friend_years, placeholder: "Friendship's years" %>
  <%= f.submit "Create a friend nek" %>
<% end %>
