<h1>Currencies#new</h1>
<p>Find me in app/views/currencies/new.html.erb</p>
<%= form_for Currency.new do |f| %>
  <%= f.text_field :name, placeholder: "Currency" %>
  <%= f.submit "Create Currency nek"%>
<% end %>
