<h1>Banks#display</h1>
<p>Find me in app/views/banks/display.html.erb</p>
<div>
  <%= link_to "Create Term", terms_new_path %>
</div>
<div>
  <%= link_to "Create Currency", currencies_new_path %>
</div>
