<div class="columns is-centered">
  <div class="column is-4">
    <div class="card">
      <div class="card-header">
        <div class="card-header-title">Sign up</div>
      </div>
      <%= render "user_form" %>
    </div>
  </div>
</div>