<table class="table is-bordered is-striped">
  <thead>
    <tr>
      <th></th>
      <% Purpose.all[0..9].each do |e| %>
        <th><%= e.purpose_name %></th>
      <% end %>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Total</th>
      <% all_purposes[0..9].each do |e| %>
        <th><%= e %></th>
      <% end %>
    </tr>
  </tfoot>
</table>

<h1>Print income type</h1>
<table class="table is-bordered is-striped">
  <thead>
    <tr>
      <th></th>
      <% Purpose.all[10..12].each do |e| %>
        <th><%= e.purpose_name %></th>
      <% end %>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Total</th>
      <% all_purposes[10..12].each do |e| %>
        <th><%= e %></th>
      <% end %>
    </tr>
  </tfoot>
</table>
