<div class="card">
  <div class="card-header" style="margin-bottom: 15px">
    <div class="card-header-title">
      <%= title %>
    </div>
  </div>
  <div class="card-content">
    <%= line_chart chart, download: true, width: "300px", height: "220px" %>
  </div>
</div>