<div class="card">
  <div class="card-header" style="margin-bottom: 15px">
    <div class="card-header-title report-title">
      <%= title %>
    </div>
  </div>
  <div class="card-content">
    <div class="content">
      <%= pie_chart chart, download: true, width: "300px", height: "250px", colors: ["pink", "#67E0AB","#CCFF66", "#64B5DB", "#963484", "#FFE256", "#02A8F3", "#309642" ,"#FFE684","#00F2FF", "#FFD400", "#3DD6D0"]%>
    </div>
  </div>
</div>