<br>
<br>
<div class="title">All your transactions </div>
<div class="report all-report">
  <%= render "display_by_attribute", {cashflows: @all_cashflows, total:  0, incomes:  0, outcomes:  0 } %>
</div>