<h1>Welcome to search page</h1>
<h1>Liet ke danh sach cac transaction co trong period</h1>
<% if @start_date || @end_date %>
  <%= @period_cashflows %>
  <%= @start_date %>
  <%= @end_date %>
<% elsif @purpose %>
  <%= @purpose %>
<% end %>