

  <% unless current_user %>
    <!-- 
    <%= link_to "Sign up", new_user_path %>
    <%= link_to "Login", login_path %> 
    <%= render "users/user_form"%> -->
    <img src="http://travelfashiongirl.com/wp-content/uploads/2016/12/best-travel-shoes-cover.jpg" alt="Placeholder image" style="width: 100%">
  <% else %>
  
  <% end %>
</div>





