/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma-variables";
 @import "bulma";
 @import "font-awesome";
 @import "homes";
 @import "daily_cashflows";
 @import "daily_report";
 @import "users";

 
 form#new_user {
  margin: 5px 10px;
}

.button.is-primary {
    background-color: lighten($firstcolor, 10%);
}

.navbar {
    background-color: $firstcolor;
    opacity: 0.8;
    a {
        color: white;
    }
}

.general-field {
  margin: 10px;
}

.general-submit {
  margin-bottom: 50px;
}

.general-form {
  margin-top: 40px;
}



.card {
    // border: 0.1px solid #005580;
    border: hidden;
    opacity: 0.9;
    .card-header {
    background-color:  $firstcolor;
    // border: 0.1px solid #19324d;
        .card-header-title {
            color: white;
            font-family: "Helvetica";
        }   
    }
}

.table{
    th {
    background-color: $firstcolor;
    opacity: 0.9;
    color: white !important;
    font-family: "Helvetica";
    }
}

.report {
  margin-top: 30px;
}


table {
    opacity: 0.9;
}

.report-title {
    text-align: center;
}

.is-center-general {
    margin: auto;
    text-align: center;
}