// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-up-form{
  margin-top: 20px;
  padding-bottom: 10px;
}

.new-user-field {
  margin: 20px;
}

.new-user-submit {
  margin-bottom: 50px;
}
